<!doctype html>
<html lang="ja">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NL8G3X8');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <style>
        nav,
        .title {
            font-family: 'Bangers', cursive;
        }

        a:not(nav) {
            color: #FF0033;
        }
    </style>
    <title>AtCoder Tags</title>
</head>

<body style="padding-top:5.0rem">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NL8G3X8" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#FF0033;">
        <a href="/" class="navbar-brand">AtCoder Tags</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav1">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav1">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/" class="nav-link">Home <i class="fas fa-home"></i></a></li>
                <li class="nav-item active"><a href="/explain" class="nav-link">Category <i class="fas fa-tags"></i></a>
                </li>
                <li class="nav-item"><a href="/vote" class="nav-link">Vote <i class="fas fa-vote-yea"></i></a></li>
                <li class="nav-item "><a href="/check" class="nav-link">Check <i class="fas fa-search"></i></a></li>
                <li class="nav-item "><a href="/collect" class="nav-link">Collect <i class="fas fa-file-alt"></i></a>
                </li>
                <li class="nav-item"><a href="/graph" class="nav-link">Graph <i class="fas fa-chart-pie"></i></a></li>
                <li class="nav-item"><a href="/ranking/1" class="nav-link">Ranking <i class="fas fa-signal"></i></a>
                </li>
                {% if current_user.is_authenticated == True %}
                <li class="nav-item"><a href="/user_page/{{current_user.id}}" class="nav-link">User_Page <i
                            class="fas fa-user"></i></a>
                </li>
                <li class="nav-item"><a href="/settings" class="nav-link">Settings <i class="fas fa-cog"></i></a></li>
                {%endif%}
                {% if current_user.is_authenticated == False%}
                <li class="nav-item"><a href="/oauth/twitter" class="nav-link">Login <i
                            class="fas fa-sign-in-alt"></i></a></li>
                {%else%}
                <li class="nav-item"><a href="/logout" class="nav-link">Logout <i class="fas fa-sign-out-alt"></i></a>
                </li>
                {%endif%}
            </ul>
        </div>
    </nav>

    <div class="container" style="width: 100%; max-width: 90%;">
        <div>
            <h1 class='title'><strong>Dynamic-Programming</strong></h1>
        </div>
        <div>
            <table class="table table-borderd ">
                <tbody>
                    <tr>
                        <th scope="row"><a href="/tag_search/Dynamic-Programming">ALL</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Simple-DP">基礎DP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/String-DP">文字列DP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Section-DP">区間DP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Digit-DP">桁DP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Tree-DP">木DP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Every-Direction-DP">全方位木DP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Bit-DP">bitDP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Probability-DP">確率DP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Expected-Value-DP">期待値DP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Insert-DP">挿入DP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Link-DP">連結DP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Inline-DP">インラインDP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Matrix-Power">行列累乗</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/CHT">Convex-Hull-Trick</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Monge-DP">Monge-DP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Alien-DP">Alien-DP</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Kitamasa">きたまさ法</a></th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming/Other">その他</a></th>
                    </tr>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</html>