<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NL8G3X8');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/image/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>AtCoder Tags</title>
</head>

<body style="padding-top:3.5rem">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NL8G3X8" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-expand-md  navbar-dark bg-dark fixed-top">
        <a href="/" class="navbar-brand">AtCoder Tags</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav1">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav1">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item active"><a href="/explain" class="nav-link">Category</a></li>
                <li class="nav-item"><a href="/vote" class="nav-link">Vote</a></li>
                <li class="nav-item "><a href="/check" class="nav-link">Check</a></li>
                <li class="nav-item "><a href="/collect" class="nav-link">Collect</a></li>
                <li class="nav-item"><a href="/graph" class="nav-link">Graph</a></li>
            </ul>
        </div>
    </nav>

    <div>
        <div>
            <table class="table table-borderd container-fluid">
                <tbody>
                    <tr>
                        <th scope="row"><a href="/tag_search/Easy">Easy</a></th>
                        <th scope="row">イージー（カテゴリー分類出来ないほど簡単な問題のためのカテゴリー)</th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tag_search/Ad-Hoc">Ad-Hoc</a></th>
                        <th scope="row">アドホック（どのカテゴリーにも分類されない、問題特有の性質を用いるカテゴリー）</th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Searching">Searching</a></th>
                        <th scope="row">探索アルゴリズム（全探索、二分探索、深さ優先探索、bit全探索など）</th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tag_search/Greedy-Methods">Greedy-Methods</a></th>
                        <th scope="row">貪欲法（評価値の高い順に取り込んでいくことで解を得る方法）</th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/String">String</a></th>
                        <th scope="row">文字列アルゴリズム(文字列処理、ローリングハッシュ、Manacher、Suffix Arrayなど）</th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Mathematics">Mathematics</a></th>
                        <th scope="row">数学(整数、組み合わせ、確率、期待値など）</th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Technique">Technique</a></th>
                        <th scope="row">テクニック（累積和、imos法、尺取り法、半分全列挙、平方分割、分割統治、ダブリングなど）</th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tag_search/Construct">Construct</a></th>
                        <th scope="row">構築（条件を満たす何かを作る問題）</th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Graph">Graph</a></th>
                        <th scope="row">グラフ理論（最短経路問題、最小全域木、オイラー閉路など）</th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Dynamic-Programming">Dynamic-Programming</a></th>
                        <th scope="row">動的計画法(木DP、区間DP、bitDP、インラインDPなど）</th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Data-Structure">Data-Structure</a></th>
                        <th scope="row">データ構造（set、priority_queue、Union-Find-Tree、Segment-Treeなど）</th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Game">Game</a></th>
                        <th scope="row">ゲーム（Nim、Grundy数、Minimax法、Alpha-Beta法など）</th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Flow-Algorithms">Flow-Algorithms</a></th>
                        <th scope="row">ネットワークフロー（最大流問題、最小費用流、二部マッチング、最大安定集合など）</th>
                    </tr>
                    <tr>
                        <th scope="row"><a href="/tags/Geometry">Geometry</a></th>
                        <th scope="row">幾何学（凸包、線分交差判定、反転幾何、平面走査法など）</th>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTM.
    Ga3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>