<div style="padding-top:5rem">
    <form action="/vote_result" method="get">
        <select name="tag" size=12>
            <option value="Searching">Searching</option>
            <option value="Greedy-Methods">Greedy-Methods</option>
            <option value="String">String</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Technique">Technique</option>
            <option value="Construct">Construct</option>
            <option value="Graph">Graph</option>
            <option value="Dynamic-Programming">Dynamic-Programming</option>
            <option value="Data-Structure">Data-Structure</option>
            <option value="Game">Game</option>
            <option value="Flow-Algorithms">Flow-Algorithms</option>
            <option value="Geometry">Geometry</option>
        </select>
        <input type="submit" value="submit" class="btn btn-primary">
    </form>
    <div style="height: 20px;"></div>
</div>