<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NL8G3X8');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="AtCoder Tagsはカテゴリーから問題を選べるようになることを目標にしています。" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>AtCoder Tags</title>
</head>

<body style="padding-top:5rem">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NL8G3X8" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-expand-md  navbar-dark bg-dark fixed-top">
        <a href="/" class="navbar-brand">AtCoderTags</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav1">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav1">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item "><a href="/explain" class="nav-link">Category</a></li>
                <li class="nav-item active"><a href="/vote" class="nav-link">Vote</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div>
            <h3>Vote</h3>
        </div>
        <div class="jumbotron">
            <h4>投票方法</h4>
            <h5>problem_idは「abc001_1」などの問題URL末尾に記載されている形式で入力して下さい。</h5>
            <h5>tag_nameは検索欄から選んで下さい。</h5>
            <h5>Tagの一覧は「tag_nameに何かを入力→消去」で表示されます。</h5>
        </div>
        <div>
            <form id="search" action="/vote_result" method="get" autocomplete="off">
                <input type="text" placeholder="problem_id" name="problem_id"><br>
                <input id="tag_search" type="text" placeholder="tag_name" name="tag">
                <input type="submit" value="submit">
            </form>
        </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTM.
    Ga3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"
    integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>


<script type="text/javascript">
    (async function () {
        const tag = [
            "Searching", "Greedy-Methods", "String", "Mathematics",
            "Graph", "Dynamic-Programming", "Data-Structure",
            "Game", "Flow-Algorithms", "Geometry"
        ];

        $('#tag_search').autocomplete({
            source: tag,
            autoFocus: true,
            delay: 0,
            minLength: 0,
            appendTo: "menu",
        });
        //input内でのEnter無効化
        $(function () {
            $(document).on("keypress", "input:not(.allow_submit)", function (event) {
                return event.which !== 13;
            });
        });
        //日本語入力をスタートしたら無効化
        $('#tag_search').on('compositionstart', function () {
            $('#tag_search').autocomplete('disable');
        });
        //日本語入力が確定したら有効化
        $('#tag_search').on('compositionend', function () {
            $('#tag_search').autocomplete('enable').autocomplete('search');
        });

    })();
</script>

</html>