<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NL8G3X8');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/image/favicon.ico">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <style>
        .title,
        nav {
            font-family: 'Bangers', cursive;
        }
    </style>
    <title>AtCoder Tags</title>
</head>

<body style="padding-top:5rem">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NL8G3X8" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#FF0033;">
        <a href="/" class="navbar-brand">AtCoder Tags</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav1">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav1">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item "><a href="/explain" class="nav-link">Category</a></li>
                <li class="nav-item active"><a href="/vote" class="nav-link">Vote</a></li>
                <li class="nav-item "><a href="/check" class="nav-link">Check</a></li>
                <li class="nav-item "><a href="/collect" class="nav-link">Collect</a></li>
                <li class="nav-item"><a href="/graph" class="nav-link">Graph</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" style="width: 100%; max-width: 90%;">
        <div>
            <h1 class='title'><strong>Vote</strong></h1>
        </div>
        <div>
            <form action="/vote_result" method="get" autocomplete="off">
                <input type="text" placeholder="problem_id" name="problem_id">

                <br>
                <br>
                <select name="tag" size=15 id="area1">
                    <option data-subgroup="Easy" value="Easy">Easy</option>
                    <option data-subgroup="Ad-Hoc" value="Ad-Hoc">Ad-Hoc</option>
                    <option data-subgroup="Searching" value="Searching">Searching</option>
                    <option data-subgroup="Greedy-Methods" value="Greedy-Methods">Greedy-Methods</option>
                    <option data-subgroup="String" value="String">String</option>
                    <option data-subgroup="Mathematics" value="Mathematics">Mathematics</option>
                    <option data-subgroup="Technique" value="Technique">Technique</option>
                    <option data-subgroup="Construct" value="Construct">Construct</option>
                    <option data-subgroup="Graph" value="Graph">Graph</option>
                    <option data-subgroup="Dynamic-Programming" value="Dynamic-Programming">Dynamic-Programming</option>
                    <option data-subgroup="Data-Structure" value="Data-Structure">Data-Structure</option>
                    <option data-subgroup="Game" value="Game">Game</option>
                    <option data-subgroup="Flow-Algorithms" value="Flow-Algorithms">Flow-Algorithms</option>
                    <option data-subgroup="Geometry" value="Geometry">Geometry</option>
                </select>
                <select name="tag2" id="area2" size=15>

                    <option data-group="Searching" value="Brute-Force">全探索</option>
                    <option data-group="Searching" value="Binary-Search">二分探索</option>
                    <option data-group="Searching" value="Ternary-Search">三分探索</option>
                    <option data-group="Searching" value="DFS">深さ優先探索</option>
                    <option data-group="Searching" value="BFS">幅優先探索</option>
                    <option data-group="Searching" value="Bit-Brute-Force">bit全探索</option>
                    <option data-group="Searching" value="Heuristic">ヒューリスティック</option>
                    <option data-group="Searching" value="Other">その他</option>

                    <option data-group="String" value="String-Operation">文字列処理</option>
                    <option data-group="String" value="Rolling-Hash">ローリングハッシュ</option>
                    <option data-group="String" value="Manacher">Manacher</option>
                    <option data-group="String" value="Suffix-Array">Suffix-Array</option>
                    <option data-group="String" value="Z-Algorithm">Z-Algorithm</option>
                    <option data-group="String" value="Trie">Trie</option>
                    <option data-group="String" value="Other">その他</option>

                    <option data-group="Mathematics" value="Number">整数</option>
                    <option data-group="Mathematics" value="Combinatorics">組み合わせ</option>
                    <option data-group="Mathematics" value="Probability">確率</option>
                    <option data-group="Mathematics" value="Expected-Value">期待値</option>
                    <option data-group="Mathematics" value="Other">その他</option>

                    <option data-group="Technique" value="Cumulative-Sum">累積和</option>
                    <option data-group="Technique" value="imos">imos法</option>
                    <option data-group="Technique" value="Two-Pointers">尺取り法</option>
                    <option data-group="Technique" value="Split-And-List">半分全列挙</option>
                    <option data-group="Technique" value="Square-Division">平方分割</option>
                    <option data-group="Technique" value="Divid-And-Conquer">分割統治法</option>
                    <option data-group="Technique" value="Doubling">ダブリング</option>
                    <option data-group="Technique" value="Other">その他</option>

                    <option data-group="Graph" value="Shortest-Path">最短経路</option>
                    <option data-group="Graph" value="Minimum-Spanning-Tree">最小全域木</option>
                    <option data-group="Graph" value="LCA">最小共通祖先</option>
                    <option data-group="Graph" value="Strongly-Connected-Components">強連結成分分解</option>
                    <option data-group="Graph" value="Topological-Sort">トポロジカルソート</option>
                    <option data-group="Graph" value="Euler-Tour">オイラーツアー</option>
                    <option data-group="Graph" value="HL-Decomposition">HL分解</option>
                    <option data-group="Graph" value="Centroid-Decomposition">重心分解</option>
                    <option data-group="Graph" value="Check-Tree">木の同型判定</option>
                    <option data-group="Graph" value="Two-Edge-Connected-Components">二重辺連結成分分解</option>
                    <option data-group="Graph" value="Bi-Connected-Components">二重頂点連結成分分解</option>
                    <option data-group="Graph" value="Cycle-Basis">サイクル基底</option>
                    <option data-group="Graph" value="dfs-tree">dfs木</option>
                    <option data-group="Graph" value="Erdesh">エルデシュガライの定理</option>
                    <option data-group="Graph" value="Other">その他</option>

                    <option data-group="Dynamic-Programming" value="Simple-DP">基礎DP</option>
                    <option data-group="Dynamic-Programming" value="String-DP">文字列DP</option>
                    <option data-group="Dynamic-Programming" value="Section-DP">区間DP</option>
                    <option data-group="Dynamic-Programming" value="Digit-DP">桁DP</option>
                    <option data-group="Dynamic-Programming" value="Tree-DP">木DP</option>
                    <option data-group="Dynamic-Programming" value="Every-Direction-DP">全方位木DP</option>
                    <option data-group="Dynamic-Programming" value="Bit-DP">bitDP</option>
                    <option data-group="Dynamic-Programming" value="Probability-DP">確率DP</option>
                    <option data-group="Dynamic-Programming" value="Expected-Value-DP">期待値DP</option>
                    <option data-group="Dynamic-Programming" value="Insert-DP">挿入DP</option>
                    <option data-group="Dynamic-Programming" value="Link-DP">連結DP</option>
                    <option data-group="Dynamic-Programming" value="Inline-DP">インラインDP</option>
                    <option data-group="Dynamic-Programming" value="Matrix-Power">行列累乗</option>
                    <option data-group="Dynamic-Programming" value="CHT">Convex-Hull-Trick</option>
                    <option data-group="Dynamic-Programming" value="Monge-DP">Monge-DP</option>
                    <option data-group="Dynamic-Programming" value="Alien-DP">Alien-DP</option>
                    <option data-group="Dynamic-Programming" value="Kitamasa">きたまさ法</option>
                    <option data-group="Dynamic-Programming" value="Other">その他</option>

                    <option data-group="Data-Structure" value="stack">stack</option>
                    <option data-group="Data-Structure" value="queue">queue</option>
                    <option data-group="Data-Structure" value="set">set</option>
                    <option data-group="Data-Structure" value="map">map</option>
                    <option data-group="Data-Structure" value="deque">deque</option>
                    <option data-group="Data-Structure" value="multiset">multiset</option>
                    <option data-group="Data-Structure" value="priority_queue">priority_queue</option>
                    <option data-group="Data-Structure" value="Union-Find-Tree">Union-Find-Tree</option>
                    <option data-group="Data-Structure" value="BIT">Binary-Indexed-Tree</option>
                    <option data-group="Data-Structure" value="Segment-Tree">Segment-Tree</option>
                    <option data-group="Data-Structure" value="Lazy-Segment-Tree">Lazy-Segment-Tree</option>
                    <option data-group="Data-Structure" value="Sparse-Table">Sparse-Table</option>
                    <option data-group="Data-Structure" value="WaveletMatrix">WaveletMatrix</option>
                    <option data-group="Data-Structure" value="Persistent-Data-Structures">永続データ構造</option>
                    <option data-group="Data-Structure" value="Balanced-Tree">平衡二分探索木</option>
                    <option data-group="Data-Structure" value="Other">その他</option>

                    <option data-group="Game" value="Nim">Nim</option>
                    <option data-group="Game" value="Grundy">Grundy数</option>
                    <option data-group="Game" value="Backtrack">後退解析</option>
                    <option data-group="Game" value="Mini-Max">ミニマックス法</option>
                    <option data-group="Game" value="unique">特殊な性質</option>
                    <option data-group="Game" value="Other">その他</option>

                    <option data-group="Flow-Algorithms" value="Max-Flow">最大流問題</option>
                    <option data-group="Flow-Algorithms" value="Min-Cost-Flow">最小費用流問題</option>
                    <option data-group="Flow-Algorithms" value="Bipartite-Matching">二部マッチング</option>
                    <option data-group="Flow-Algorithms" value="Min-Cut">最小カット</option>
                    <option data-group="Flow-Algorithms" value="Burn">燃やす埋める</option>
                    <option data-group="Flow-Algorithms" value="Other">その他</option>

                    <option data-group="Geometry" value="Convex-Hull">凸包</option>
                    <option data-group="Geometry" value="Declination-Sorting">偏角ソート</option>
                    <option data-group="Geometry" value="Three-D">三次元</option>
                    <option data-group="Geometry" value="Other">その他</option>
                </select>
                <br>
                <br>

                <input type="submit" value="Submit" class="btn btn-dark title">
            </form>
            <br>
            <br>
        </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTM.
    Ga3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"
    integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>
<script>
    //地域セレクトボックスイベント設定
    setHierarchySelectEvent('#area1', '#area2');
    //セレクトボックスの初期値
    $('#area1').val('1').change();
    $('#area2').val('2').change();

    function setHierarchySelectEvent(parentSelect, childSelect) {
        var initCategorySmallHtml = $(childSelect).html();
        $(parentSelect).change(function () {
            if (1 < $(this).find('option:selected').length) {//複数選択時に処理
                $(childSelect).find("option").each(function (index, element) {
                    $(element).remove();
                });
            } else {
                var subgroup = $(this).find('option:selected').attr('data-subgroup');
                $(childSelect).html(initCategorySmallHtml);
                $(childSelect).find("option").each(function (index, element) {
                    var group = $(element).attr('data-group');
                    if (group) {
                        if (subgroup == group) {
                            //$(element).css('display', 'block');//IEではoptionタグに対してdisplayは効かないため
                        } else {
                            //$(element).css('display', 'none');//IEではoptionタグに対してdisplayは効かないため
                            $(element).remove();
                        }
                    }
                });
            }
            $(childSelect).val('').change();//未選択時の値は''じゃない場合は書き換えてね
        });
    }
</script>

</html>